.body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e3f2fd;
}

.container {
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #90caf9;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #90caf9;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #64b5f6;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #42a5f5;
}

.page-nav-buttons {
    position: absolute;
    top: 10px;
    right: 10px;
}

.page-nav-buttons .btn {
    margin-left: 10px;
    padding: 10px 15px;
    background-color: #f48fb1;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
}

.page-nav-buttons .btn:hover {
    background-color: #f06292;
}


header {
    background-color: #64b5f6;
    color: white;
    padding: 10px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo .title {
    font-size: 24px;
    font-weight: bold;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

header nav ul li {
    margin: 0 10px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

header nav ul li a:hover {
    text-decoration: underline;
}

footer {
    background-color: #64b5f6;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
