<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="../style/contact.css">
</head>
<body>
    <header>
        <div class="container">
            <div class="page-nav-buttons">
                <a href="main.html" class="btn">Home</a>
                <a href="about.html" class="btn">About</a>
                <a href="contact.html" class="btn">Contact</a>
            </div>
        </div>
    </header>
    <div class="container">
        <h2>Contact Us</h2>
        <form id="contactForm" action="#" method="post">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" placeholder="Your name.." required>
            
            <label for="email">Email</label>
            <input type="text" id="email" name="email" placeholder="Your email.." required>
            
            <label for="message">Message</label>
            <textarea id="message" name="message" placeholder="Write something.." style="height:200px" required></textarea>
            
            <!--input type="submit" value="Submit"-->
            <div class="button">
                <button onclick="sendEmail()">Submit</button>
            </div>
        </form>
    </div>

    <script src="../javascript/contact.js"></script>
</body>
</html>
